.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;

    animation-name: moveInBottom;
    animation-duration: 0.76s;
    animation-timing-function: ease-out;
    animation-delay: 0.75s;
    animation-fill-mode: backwards;

    border: none;
    cursor: pointer;
  }

  &-white {
    background-color: $color-white;
    color: $color-grey-dark;
    display: inline-block;
  }
  &-green {
    background-color: $color-primary;
    color: $color-white;
    display: inline-block;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    border: none;
  }

  &:active,
  &:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    outline: none;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 0.3rem;
    font-size: 1.8rem;
    font-weight: 700;
  }
  &:hover {
    color: $color-white;
    background-color: $color-primary;
    transform: translateY(-3px);
    font-size: 1.8rem;
    font-weight: 700;
  }
  &:active {
    color: $color-white;
    background-color: $color-primary;
    transform: translateY(-1px);
    font-size: 1.8rem;
    font-weight: 700;
  }
}
