.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.6rem;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba($color-black, 0.4);
  text-align: center;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.8rem);
    transform: scale(1.02);
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.5);
  }

  &__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0.5rem;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text {
  }
}
