.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-10deg);

  & > * {
    transform: skewX(10deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem, -1rem) skewX(10deg);
    position: relative;

    &-image {
      height: 100%;
      transform: scale(1.4);
      transition: all 0.4s;
    }
  }
  &__caption {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: white;
    opacity: 0;
    font-size: 1.9rem;
    transition: all 0.5s ease;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__shape-image {
    transform: scale(0.99);
    filter: blur(3px) brightness(80%);
  }
}
