.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-extra-large {
  margin-bottom: 12rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-top-large {
  margin-top: 8rem !important;
}

.u-zindex {
  z-index: 1 !important;
}

.downTranslate {
  transform: translateY(50rem) !important;
}

.u-margin-top-small {
  margin-top: 10rem !important ;
}
